block vars
  - title = ""
doctype html
html( lang="en" )
  head
    title #{title}
    link(href='styles.css', rel='stylesheet')
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    link(rel='stylesheet', type='text/css', href='../styles.css')
