extends _page.jade
block title
  title Dominion Kingdom Generator
append stylesheets
  link(rel='stylesheet', type='text/css', href='../styles/junkstyles.css')

block content

  .container(style="width:20%;")
    div
      input(type="checkbox")#toggle
      label(for="toggle") Toggle All
    div
      input(type="checkbox" name="set")#base
      label(for="base") Base
    div
      input(type="checkbox" name="set")#intrigue
      label(for="intrigue") Intrigue
    div
      input(type="checkbox" name="set")#seaside
      label(for="seaside") Seaside
    div
      input(type="checkbox" name="set")#alchemy
      label(for="alchemy") Alchemy
    div
      input(type="checkbox" name="set")#prosperity
      label(for="prosperity") Prosperity
    div
      input(type="checkbox" name="set")#cornucopia
      label(for="cornucopia") Cornucopia
    div
      input(type="checkbox" name="set")#hinterlands
      label(for="hinterlands") Hinterlands
    div
      input(type="checkbox" name="set")#darkages
      label(for="darkages") Dark Ages
    div
      input(type="checkbox" name="set")#guilds
      label(for="guilds") Guilds
    div
      input(type="checkbox" name="set")#promotional
      label(for="promotional") Promotional
    div
      input(type="checkbox" name="set")#adventures
      label(for="adventures") Adventures

  .container(style="width:40%;")
    div
      div
        input(type="checkbox")#CBvillage
        label(for="CBvillage") must have village
      div(style="")
        input(type="checkbox")#CBbuy
        label(for="CBbuy") must have +buy
    div
      div
        input(type="checkbox")#CBmoat
        label(for="CBmoat") must have moat with attacks
    table
      thead
        tr
          td &nbsp;
          td any
          td include
          td exclude
      tbody
        tr
          td Attacks
          td
            input(type="radio" name="attacks")
          td
            input(type="radio" name="attacks")
          td
            input(type="radio" name="attacks")
        tr
          td Cursers
          td
            input(type="radio" name="cursers")
          td
            input(type="radio" name="cursers")
          td
            input(type="radio" name="cursers")
        tr
          td Hand Size Attacks
          td
            input(type="radio" name="handsize")
          td
            input(type="radio" name="handsize")
          td
            input(type="radio" name="handsize")
        tr
          td Trashers
          td
            input(type="radio" name="trashers")
          td
            input(type="radio" name="trashers")
          td
            input(type="radio" name="trashers")
        tr
          td Alt VP
          td
            input(type="radio" name="altvp")
          td
            input(type="radio" name="altvp")
          td
            input(type="radio" name="altvp")
        tr
          td Treasures
          td
            input(type="radio" name="treasures")
          td
            input(type="radio" name="treasures")
          td
            input(type="radio" name="treasures")
        tr
          td Durations
          td
            input(type="radio" name="durations")
          td
            input(type="radio" name="durations")
          td
            input(type="radio" name="durations")
        tr
          td Trash for Benefits
          td
            input(type="radio" name="tfb")
          td
            input(type="radio" name="tfb")
          td
            input(type="radio" name="tfb")
        tr
          td Graverobber/Rogue
          td
            input(type="radio" name="rogue")
          td
            input(type="radio" name="rogue")
          td
            input(type="radio" name="rogue")
        tr
          td Coin Gainers
          td
            input(type="radio" name="coingainers")
          td
            input(type="radio" name="coingainers")
          td
            input(type="radio" name="coingainers")
        tr
          td Reserves
          td
            input(type="radio" name="reserves")
          td
            input(type="radio" name="reserves")
          td
            input(type="radio" name="reserves")

    div
      button.btn.btn-primary(onclick="radioReset()") Reset
      button.btn.btn-primary(onclick="radioRecommend()") Recommended
  p#testpar asdf
  p TODO: add strong set rules, these should force radio boxes to "exclude" in some cases and disable other options. Choosing to exclude attacks should automatically exclude cursers and handsize attacks.
  // coin gainers, reserve

  style.
    html {
      font-family: cambria;
      font-size: 16px;
    }

    body {
      font-size: 16px;
    }

    button {
      padding: 4px;
      margin-left:10%;
    }

    .custom-radio {
      width: 40px;
      height: 16px;
      display: inline-block;
      position: relative;
      z-index: 1;
      background: url("../images/radio.png") no-repeat;
    }
    .custom-radio:hover {
      background: url("../images/radio-hover.png") no-repeat;
    }
    .custom-radio.selected {
      background: url("../images/radio-selected.png") no-repeat;
    }
    .custom-radio input[type="radio"] {
      position: absolute;
      z-index: 2;
      opacity: 0;
      width: 40px;
      margin: 0;
      height: 16px;
      cursor: pointer;
    }

    .container {
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
    }
    .container > div:not(.quad) > div {
      display: inline-block;
      width: 48%;
    }
    table {
      width: 60%;
      border-spacing: 2px;
      border-collapse: initial;
    }
    table, table td {
      border: 0px solid black;
    }
    table td:not(:first-child) {
      width: 15%;
    }
    thead td:not(:first-child) {
      background-color: #a4f0fc;
    }
    tbody tr:nth-child(2n) {
      background-color: #c0c0c0;
    }
    tbody tr:nth-child(2n+1) {
      background-color: #dddddd;
    }

append endOfPageScripts
  script(type="text/javascript").

    /* ***************************
    // customize radio buttons
    *************************** */
    function customRadio(radioName) {
      var radioButton = $('input[name="' + radioName + '"]');
      $(radioButton).each(function() {
        $(this).wrap("<span class='custom-radio'></span>");
        if($(this).is(':checked')) {
          $(this).parent().addClass("selected");
        }
      });
      $(radioButton).click(function() {
        if($(this).is(':checked')) {
          $(this).parent().addClass("selected");
        }
        $(radioButton).not(this).each(function() {
          $(this).parent().removeClass("selected");
        });
      });
    } // end customRadio()

    /* ***************************
    // doc ready
    *************************** */
    $(document).ready(function() {
      $("input:checkbox[id!='base']").each(function() {
        $(this).removeAttr('checked');
      });
      $("input:checkbox[id='base']").prop('checked','true');
      $("td:nth-child(2) > input:radio").prop('checked','true');

      customRadio("attacks");
      customRadio("cursers");
      customRadio("handsize");
      customRadio("trashers");
      customRadio("altvp");
      customRadio("treasures");
      customRadio("durations");
      customRadio("tfb");
      customRadio("rogue");
      customRadio("coingainers");
      customRadio("reserves");
    }); // end doc.ready

    /* ***************************
    // reset radio buttons
    *************************** */
    function radioReset() {
      $("td:nth-child(2) > span").addClass("selected");
      $("td:nth-child(3) > span").removeClass("selected");
      $("td:nth-child(4) > span").removeClass("selected");
      $("td:nth-child(2) input:radio").prop('checked','true');
    }

    /* ***************************
    // recommended set
    *************************** */
    function radioRecommend() {
      radioReset();
      var pattern = [0, 2, 2, 2, 3, 3, 3, 2, 2, 2, 2, 2];
      for (var i = 1; i <= 11; i++) { // loop through each row
        $("tr:nth-child("+i+") > td:nth-child("+pattern[i]+") > span").addClass("selected");
        if (pattern[i] != 2)
          $("tr:nth-child("+i+") > td:nth-child(2) > span").removeClass("selected");
        $("tr:nth-child("+i+") > td:nth-child("+pattern[i]+") input:radio").prop('checked','true');
      }


    }

    /* ***************************
    // turn on/off all checkboxes
    *************************** */
    $("#toggle").change(function() {
      if ($(this).prop('checked')) {
        $("input:checkbox[name='set']").each(function() {
          $(this).prop('checked','true');
        });
        $("#testpar").text("checked");
      }
      else {
        $("input:checkbox[name='set']").each(function() {
          $(this).removeAttr('checked');
        });
        $("#testpar").text("not checked");
      }
    });

    /* ***************************
    // turn on/off the toggle box
    *************************** */
    $("input:checkbox[name='set']").change(function() {
      if (!$(this).prop('checked')) { // this one is unchecked so uncheck toggle
        $("#toggle").removeAttr('checked');
      }
      else { // this one is checked; determine if all are checked
        var allChecked = true;  // assume all are checked, try to find an unchecked
        $("input:checkbox[name='set']").each(function() {
          if (!$(this).prop('checked')) {
            allChecked = false;
          }
        });
        if (allChecked) {
          $("#toggle").prop('checked','true');
        }
      } // end else

    });


//
  buy ("must" only)
  village ("must" only)
  peripherals ("no" only)
  moat with attacks             base
  reaction with attacks         no seaside, alchemy, guilds, promo
  potions                       alchemy

  is coin of the realm a village?

  deck cyclers (draw & discard) e.g. embassy, oasis
  laboratories (2 cards, 1 action) e.g. lab, alchemist
  card draws (draw 2+ cards) e.g. smithy, hunting grounds
  repeaters (throne room, king's court, procession, royal carriage)

  village          buy

  peripherals

  durations (m/n)         radio buttons: include, exclude, neutral
  coins (m/n)
  treasures (m/n)
  altvp (m/n)
  cursers (m/n)
  handsize (m/n)
  attacks (m/n)
  trasher (m/n)
  tfb (m/n)
  trash recovery (m/n)
  reserve (m/n)
  potions (a-b)

  moat            reaction
