include ./_header.jade

p asdfasdf
p This is the second paragraph using jade!
  .column(style="color: red;")
    p is this a div?
    p another paragraph
    p paragraph 3
    p directions: save file then run "gulp jade" in git shell

include ./_footer.jade