table
  thead
    tr
      td &nbsp;
      td any
      td include
      td exclude
  tbody
    tr
      td Attacks
      td
        input(type="radio" name="attacks")
      td
        input(type="radio" name="attacks")
      td
        input(type="radio" name="attacks")
    tr
      td Cursers
      td
        input(type="radio" name="cursers")
      td
        input(type="radio" name="cursers")
      td
        input(type="radio" name="cursers")
    tr
      td Hand Size Attacks
      td
        input(type="radio" name="handsize")
      td
        input(type="radio" name="handsize")
      td
        input(type="radio" name="handsize")
    tr
      td Trashers
      td
        input(type="radio" name="trashers")
      td
        input(type="radio" name="trashers")
      td
        input(type="radio" name="trashers")
    tr
      td Alt VP
      td
        input(type="radio" name="altvp")
      td
        input(type="radio" name="altvp")
      td
        input(type="radio" name="altvp")
    tr
      td Treasures
      td
        input(type="radio" name="treasures")
      td
        input(type="radio" name="treasures")
      td
        input(type="radio" name="treasures")
    tr
      td Durations
      td
        input(type="radio" name="durations")
      td
        input(type="radio" name="durations")
      td
        input(type="radio" name="durations")
    tr
      td Trash for Benefits
      td
        input(type="radio" name="tfb")
      td
        input(type="radio" name="tfb")
      td
        input(type="radio" name="tfb")
    tr
      td Graverobber/Rogue
      td
        input(type="radio" name="rogue")
      td
        input(type="radio" name="rogue")
      td
        input(type="radio" name="rogue")
    tr
      td Coin Gainers
      td
        input(type="radio" name="coingainers")
      td
        input(type="radio" name="coingainers")
      td
        input(type="radio" name="coingainers")
    tr
      td Reserves
      td
        input(type="radio" name="reserves")
      td
        input(type="radio" name="reserves")
      td
        input(type="radio" name="reserves")