li
  input(type="checkbox")#toggle
  label(for="toggle") Toggle All
li
  input(type="checkbox" name="set")#base
  label(for="base") Base
li
  input(type="checkbox" name="set")#intrigue
  label(for="intrigue") Intrigue
li
  input(type="checkbox" name="set")#seaside
  label(for="seaside") Seaside
li
  input(type="checkbox" name="set")#alchemy
  label(for="alchemy") Alchemy
li
  input(type="checkbox" name="set")#prosperity
  label(for="prosperity") Prosperity
li
  input(type="checkbox" name="set")#cornucopia
  label(for="cornucopia") Cornucopia
li
  input(type="checkbox" name="set")#hinterlands
  label(for="hinterlands") Hinterlands
li
  input(type="checkbox" name="set")#darkages
  label(for="darkages") Dark Ages
li
  input(type="checkbox" name="set")#guilds
  label(for="guilds") Guilds
li
  input(type="checkbox" name="set")#adventures
  label(for="adventures") Adventures
li
  input(type="checkbox" name="set")#promotional
  label(for="promotional") Promotional
li
  input(type="checkbox")#strong
  label(for="strong")
    b Strongly enforce
